<a href="https://colab.research.google.com/github/yssuresh1981/Learning_ML/blob/main/Test_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello world')

Hello world

In [ ]:
k=1
if k == 1:
  print("k")

k

In [ ]:
myint = 7
print(myint)

7

In [ ]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [ ]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [ ]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

In [ ]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [ ]:
a, b = 3, 4
print(a, b)

3 4

In [ ]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: ignored

In [ ]:
# change this code
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s "  % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

In [ ]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

1
2
3
1
2
3

In [ ]:
mylist = [1,2,3]
print(mylist[10])

IndexError: ignored

In [ ]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append("hello")
strings.append("world")

second_name = names[1]

# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

In [ ]:
# if statement

a = 10


if a > 0:
    print ('a is poistve')
else:
    print ('a is negative')

 a is poistve

In [ ]:
# nested Foe loop

x = [1,2]
y = [3,4]

for i in x:
  print(x)
  for j in y:
    print(y)

[1, 2]
[3, 4]
[3, 4]
[1, 2]
[3, 4]
[3, 4]

 If Mark is greater than 90 then Grade A
 If Mark is greater than 80 then Grade B
 if Mark is greater than 70 then Grade C
 if Mark is greater than 60 then Grade D
 if Mark is greater than 50 then Grade E
 if Mark is Less than 50 then Grade is F

In [ ]:
a =76

if a > 90:
  print('A has got Grade A')
elif a > 80:
  print('A has got Grade B')
elif a >70:
  print('A has got Grade C')
elif a > 60:
  print('A has got Grade D')  
elif a > 50:
  print('A has got Grade E')
else:
  print('A has got Grade F')

A has got Grade C

In [ ]:
# List

Numbers = [23,34,45,67,87,90,12,34,56,78,89,79,78,45,67,34,23,45,67,80,50]

sum =0

for i in range(0 , len(Numbers)):
  sum = sum + Numbers[i]

print(sum)

1183

In [ ]:
for i in range(25,0,-2):
  print(i)

25
23
21
19
17
15
13
11
9
7
5
3
1

In [ ]:
 # Multiple list Find the Average of multiple lists

 list1 = [2,3,43,56,76,34]
 list2 = [23,34,56,78,90,12]
 list3 = [23,34,23,12,32,23]
 list4 = [23,32,43,54,65,67]

 sum = 0

 for i in range(0, len(list1)):
   sum = sum + list1[i]

 print( 'Average of list is :' , sum/len(list1))

Average of list is : 35.666666666666664

In [ ]:
def average_list(num_list):
  
  num_sum=0

  for i in range(0, len(num_list)):

    num_sum=num_sum+num_list[i]

  print('Average is:',num_sum/len(num_list))

  return num_sum/len(num_list)

In [ ]:
a = average_list(list1)

Average is: 35.666666666666664

In [ ]:
import myfunction

a = average_list(list1)

Average is: 35.666666666666664

In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

Numpy

1. Provide MutiDimentional Array Objects
2. Provides Tools For Working With Arrays

Why use Numpy (vs List)

1. Size
2. Performance
3. Operation

In [ ]:
import numpy as np
import time

In [ ]:
def list_version(size_of_array):
  t = time.time()
  a = range(size_of_array)
  b = range(size_of_array)
  c = [a[i] + b[i] for i in range (len(a))]
  return time.time() - t

In [ ]:
def numpy_version(size_of_array):
  t = time.time()
  a = np.arange(size_of_array)
  b = np.arange(size_of_array)
  c = a + b
  return time.time() - t

In [ ]:
size_of_array = 1000
print('Time taken using list in (Sec) :' , list_version(size_of_array))
print('Time taken using numpy in (Sec) :', numpy_version(size_of_array))

Time taken using list in (Sec) : 0.0004982948303222656
Time taken using numpy in (Sec) : 0.0032885074615478516

 1. Processing in NUmpy is faster than processing in list
 2. Numpy is written in C ++
 3. Some limitation in sing Numpy -